.image-wrapper
  %img.fullwidth{alt: "", src: asset_path('yuliya.png')}/
%h3 Yuliya Bozhko Ph.D.
%p Yuliya has a Ph.D. in Software Engineering/Information Systems from Massey University, and likes Running,  Open Source Communities and E-Learning.
%ul.social
  %li
    %a{href: "https://github.com/ybozhko"}
      %i.fa.fa-github
      .tooltip Github