.image-wrapper
  %img.fullwidth{alt: "", src: asset_path('graham.png')}/
%h3 Graham Jenson Ph.D.
%p Graham has a Ph.D. in Software Engineering/Computer Science from Massey University, and likes Starcraft, Dota2 and learning.
%ul.social
  %li
    %a{href: "http://www.linkedin.com/pub/graham-jenson/6/a93/b07"}
      %i.fa.fa-linkedin-square
      .tooltip LinkedIn
  %li
    %a{href: "https://twitter.com/grahamjenson"}
      %i.fa.fa-twitter
      .tooltip Twitter
  %li
    %a{href: "https://github.com/grahamjenson"}
      %i.fa.fa-github
      .tooltip Github