.sidebar-widget.search
  / Title
  %h3 Blog Subscription

  = form_tag(people_path, method: "post", class: 'navbar-form navbar-left') do
    .container
      %input#blog-search{type: "text", placeholder: 'Email Subscription' , name: 'email'}
      %input#go.go{type: "submit", value: "\uf003"}

  %ul.side-bar.follow-block
    = render :partial => 'layouts/follow_block'

  %br
  %hr

.sidebar-widget.posts
  / Title
  - post_list = @popular_posts || @related_posts

  %h2= @popular_posts.present? ? 'Popular Posts' : 'Related Posts'
  - for post in post_list
    .post
      = render partial: 'blog_post_stub', :locals => {:post => post}
    %hr