- default_image= asset_path('placeholders/placeholder-large.jpg')
%a.image-link{href: post_path(post.slug)}
  %img.fullwidth{alt: "", src: "assets/placeholders/placeholder-large.jpg"}/
%h3
  %a{href: post_path(post.slug)}= post.title
- date = post.published_at
.date= post.published_at.strftime("#{date.day.ordinalize} %B %Y")
.tags= post.tags.map(&:name).join(', ')