%li.column-one-fourth
  %a.image-link{href: "blog-post.html"}
    %img.fullwidth{alt: "", src: "assets/placeholders/placeholder-large.jpg"}/
  %h3
    %a{href: "blog-post.html"} Lorem Ipsum is simply dummy text of the printing
  .date 12th June 2013
  %p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of ...
  %a{href: "blog-post.html"} Read More