- default_image= asset_path('placeholders/placeholder-large.jpg')
/ Image
%a.image-link{href: "portfolio-detail.html"}
  %img.fullwidth{alt: "", src: default_image }/
/ Title
%h3
  %a{href: "portfolio-detail.html"} ATEX Sportsware
/ Tags
.tags Branding