%ul.post-sharing.social-likes.social-likes_notext
  %li.facebook
    %a{href: "http://www.facebook.com/sharer.php?u=#{request.original_url}", target: '_blank'}
      %i.fa.fa-facebook
      .tooltip Share on Facebook
  %li.twitter
    %a{href: "http://twitter.com/home?status=#{request.original_url} @grahamjenson", target: '_blank'}
      %i.fa.fa-twitter
      .tooltip Share on Twitter
