- content_for(:title, 'About')
- content_for(:tab, 'about')

%h1 We are Software Developers looking to make your ideas reality.
%h3 Our goal is to create usable, scalable systems that you and your customers will love to use.
%p If you have an idea you would like to develop, an existing system you would like to extend, or a product already in developmet. We can help you in development, user experience design, and analysing the outcomes of your project.
.spacer
.column-container
  .column-one-third.center
    .icon-container.big-icon
      .icon-backing{style: "background-color: #63885F;"}
        %i.fa.fa-heart
    %h3 Software Development
    %p Creation or Extension of Software systems
  .column-one-third.center
    .icon-container.big-icon
      .icon-backing{style: "background-color: #d28762;"}
        %i.fa.fa-group
    %h3 User Experience
    %p Making software which users like using
  .column-one-third.center
    .icon-container.big-icon
      .icon-backing{style: "background-color: #6E6588;"}
        %i.fa.fa-desktop
    %h3 Data Analytics
    %p Analysing a system to find what your users have done, are doing, and want to do
.divider
%ul.team.column-container
  %li.column-one-fourth
  %li.column-one-fourth
    = render 'about_graham'    
  %li.column-one-fourth
    = render 'about_yuliya'
