.main-content
  .main-content-inner.content-width
    %h1 We’re World-Class. Fact.
    %h3 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
    / Text
    %p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    .spacer
    .column-container
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Third
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      .column-one-third.center
        .icon-container.big-icon
          / Icon Backing
          .icon-backing{style: "background-color: #63885F;"}
            / Icon
            %i.fa.fa-heart
        / Title
        %h3 What is Lorem Ipsum?
        / Text
        %p Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula.
      .column-one-third.center
        .icon-container.big-icon
          / Icon Backing
          .icon-backing{style: "background-color: #d28762;"}
            / Icon
            %i.fa.fa-flag
        / Title
        %h3 What is Lorem Ipsum?
        / Text
        %p Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula.
      .column-one-third.center
        .icon-container.big-icon
          / Icon Backing
          .icon-backing{style: "background-color: #6E6588;"}
            / Icon
            %i.fa.fa-table
        / Title
        %h3 What is Lorem Ipsum?
        / Text
        %p Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula.
    .divider
    %ul.team.column-container
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth
        / Image
        .image-wrapper
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3 Chief Whitecloud
        / Excerpt
        %p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
        / Social
        %ul.social
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin-square
              .tooltip LinkedIn
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
              .tooltip Facebook
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
              .tooltip Twitter
          %li
            %a{href: "#"}
              %i.fa.fa-google-plus
              .tooltip Google+
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth
        / Image
        .image-wrapper
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3 Paul Hembry
        / Excerpt
        %p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
        / Social
        %ul.social
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin-square
              .tooltip LinkedIn
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
              .tooltip Facebook
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
              .tooltip Twitter
          %li
            %a{href: "#"}
              %i.fa.fa-google-plus
              .tooltip Google+
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth
        / Image
        .image-wrapper
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3 Lewis Hamilton
        / Excerpt
        %p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
        / Social
        %ul.social
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin-square
              .tooltip LinkedIn
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
              .tooltip Facebook
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
              .tooltip Twitter
          %li
            %a{href: "#"}
              %i.fa.fa-google-plus
              .tooltip Google+
      %li.column-one-fourth
        / Image
        .image-wrapper
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3 Martin Whitmarsh
        / Excerpt
        %p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
        / Social
        %ul.social
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin-square
              .tooltip LinkedIn
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
              .tooltip Facebook
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
              .tooltip Twitter
          %li
            %a{href: "#"}
              %i.fa.fa-google-plus
              .tooltip Google+
