- content_for(:title, 'Blog')
- content_for(:tab, 'blog')
.column-container
  .column-three-qtr
    - for post in @posts
      = render :partial => 'post', locals: {post: post, :preview => true}
    .blog-nav
      %a.back{href: "#"} Older Entries
      %a.next{href: "#"} Newer Entries
  .column-one-fourth.sidebar
    = render :partial => 'blog_sidebar'    
