- content_for(:title, 'Contact')
- content_for(:tab, 'contact')
%h1 Contact Us
%p If you want to have a chat, or a coffee and discuss your plans and projects, give us a yell @
.spacer
.spacer
.column-container
  .column-one-third
    .icons-column.vertical-center
      .icon-backing
        %i.fa.fa-phone
    .content-column.vertical-center
      %h3.no-margin Telephone Us
      %p +64 (0)21 144 3303
  .column-one-third
    .icons-column.vertical-center
      .icon-backing
        %i.fa.fa-envelope
    .content-column.vertical-center
      %h3.no-margin Email Us
      %p
        %a{href: "mailto:enquiry@maori.geek.nz"} enquiry@maori.geek.nz
  .column-one-third
    .icons-column.vertical-center
      .icon-backing
        %i.fa.fa-map-marker
    .content-column.vertical-center
      %h3.no-margin Location
      %p Just on the internet for now.
.spacer
.spacer
.spacer
.contact-form
  = form_tag(contact_form_path, method: "post") do
    %form#comment-form{action: "#", method: "post", name: "contact-form"}
      %input{name: "name", placeholder: "Name *", type: "text"}
      %input{name: "email", placeholder: "Email Address *", type: "text"}
      %input{name: "phone", placeholder: "Phone", type: "text"}
      %textarea{name: "message", placeholder: "Message *"}
      %input.accent{type: "submit", value: "Submit Comment"}
