- content_for(:title, 'Home')
- content_for(:tab, 'home')
- content_for :banner do
  .home-banner.dark
    %ul#home-slider.slider-container
      %li.slide-outer
        .slide-inner
          .content-width
            .slide-style-2
              .icon-container
                .icon-backing
                  %i.fa.fa-sitemap
              %h1
                Software Development
                %span .
              %p Reduce Complexity; Increase Flexibility
      %li.slide-outer
        .slide-inner
          .content-width
            .slide-style-2
              .icon-container
                .icon-backing
                  %i.fa.fa-bar-chart-o
              %h1
                Big Data Analytics to make  
                %span Data Driven Decisions
              %p Stop guessing what your customers want.
      %li.slide-outer
        .slide-inner
          .content-width
            .slide-style-2
              .icon-container
                .icon-backing
                  %i.fa.fa-hand-o-down
              %h1
                Design
                %span Usable
                Experiences
              %p Put your users first when creating a product
    .slider-nav-container
      .slider-nav-inner
        .slider-nav.content-width
          %ul#bx-pager
            %li
              %a{"data-slide-index" => "0", href: ""} Software Development
            %li
              %a{"data-slide-index" => "1", href: ""} Data Analytics
            %li
              %a{"data-slide-index" => "2", href: ""} User Experience
          .slider-controls
            #slider-pause
            #slider-prev
            #slider-next
  .home-cta-bar-container.accent
    .content-width
      .home-cta-bar
        .text
          Maori Geek can help you design and implement software that you and your users will enjoy 
        .home-cta-bar-button
          %a.button.transparent{href: contact_path}
            %i.fa.fa-envelope>
            Contact Us Now


.column-container
  .column-one-third
    .icons-column
      .icon-backing{style: "background-color: #66b9b4;"}
        %i.fa.fa-heart
    .content-column
      %h3 Passionate Developers
      %p We love to code, everything
  .column-one-third
    .icons-column
      .icon-backing{style: "background-color: #6E6588;"}
        %i.fa.fa-group
    .content-column
      %h3 Client & Customer Focused
      %p Our goal is to solve your problems
  .column-one-third
    .icons-column
      .icon-backing{style: "background-color: #63885F;"}
        %i.fa.fa-desktop
    .content-column
      %h3 Agile Development
      %p On-site, flexible and robust products
.column-container
  .column-three-qtr
    .divider
    %h3.section-title What's going on?
    #blog-nav.carousel-nav
      .back
      .next
    .carousel
      %ul#blog-carousel.slider-container
        - for post in @recent_posts
          %li.column-one-fourth
            = render partial: 'blog_post_stub', :locals => {:post => post}
  .column-one-fourth
    .divider
    %h3.section-title Testimonials
    #testimonials-nav.carousel-nav
      .back
      .next
    .carousel
      %ul#testimonials-carousel.slider-container
        %li.column-one-fourth
          .testimonial-text
            %p "There is something impossibly difficult about the telescoping nature of the story this tries to tell, and the combination of the two perspectives - the timeline and then video - to create a powerful impression."
            Lawrence Lessig
          .testimonial-link
            %a{href: "http://www.mixandmash.org.nz/may-showcase/supreme-award-may-showcase-highly-commended"} About Mihimihi
        %li.column-one-fourth
          .testimonial-text
            %p "Data-based arguments for a clearly communicated positions - imagine that! Very slick separation of the economic dimensions under debate. Specific, and wide-ranging references"
          .testimonial-link
            %a{href: "http://www.mixandmash.org.nz/2011-winners/supreme-data-mashup/"} About 100 Companies
