.main-content
  .main-content-inner.content-width
    .relative
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / Page Title
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %h1 Some of our latest work
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END Title
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / Filters
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / Ensure all filter tags are in the "show all" data-filter
      .portfolio-filtering
        %ul#portfolio-filters
          %li
            %span.filter.active{"data-filter" => "branding coding identity"} Show all
          %li
            %span.filter{"data-filter" => "branding"} Branding
          %li
            %span.filter{"data-filter" => "coding"} Coding
          %li
            %span.filter{"data-filter" => "identity"} Identity
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END Filters
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    / 4 Column Portfolio Grid
    / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    / Add filter tags to each li class
    %ul#portfolio.column-container.grid
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} ATEX Sportsware
        / Tags
        .tags Branding
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.coding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Farmers Insurance
        / Tags
        .tags Code Development
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding.identity
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Royal Palm Plaza
        / Tags
        .tags Branding, Identity
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.identity
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} PSB40
        / Tags
        .tags Identity
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.coding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} ASPCA
        / Tags
        .tags Code Development
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Airport Shopping
        / Tags
        .tags Branding
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.identity
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Livecast
        / Tags
        .tags Identity
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding.identity
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Viagem Magica
        / Tags
        .tags Branding, Identity
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Ezdan Mall
        / Tags
        .tags Branding
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Media Hub
        / Tags
        .tags Branding
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} Graphic Media
        / Tags
        .tags Branding
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / END One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      / One Fourth
      / ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      %li.column-one-fourth.portfolio-item.branding
        / Image
        %a.image-link{href: "portfolio-detail.html"}
          %img.fullwidth{alt: "", src: "images/placeholders/placeholder-large.jpg"}/
        / Title
        %h3
          %a{href: "portfolio-detail.html"} SAG Racing Team
        / Tags
        .tags Branding
