.gist{'data-gist_id' => @gist.gist_id}
  .relative
    %h1.js-gist-description
  
  .js-gist-display.full-width
  %br
  .js-gist-markdown
  %br
  %a.button.accent{href: "#"}
    %i.fa.fa-external-link
    Visit Gist

  %a.button.accent{href: "#"}
    %i.fa.fa-external-link
    Visit bl.ock

  .portfolio-tags
    .portfolio-tags-title Tags:
    = @gist.tags.map(&:name).join(', ')

- if not @related_items.empty?
  .divider
  %h3.section-title Related Work

  #portfolio-nav.carousel-nav
    .back
    .next
  .carousel
    %ul#portfolio-carousel.slider-container
      - for g in @related_gists
        %li.column-one-fourth.portfolio-item
          = render partial: 'portfolio_item_stub', locals: {gist: g}
