- content_for(:title, 'Portfolio')
- content_for(:tab, 'portfolio')
.relative
  %h1 Some of our latest work
  .portfolio-filtering
    %ul#portfolio-filters
      - gist_tags = Gist.tags
      %li
        %span.filter.active{"data-filter" => gist_tags.map(&:uuid).join(' ')} Show all
      - for tag in gist_tags
        %li
          %span.filter{"data-filter" => tag.uuid}= tag.name
%ul#portfolio.column-container.grid
  - for g in Gist.all
    %li.column-one-fourth.portfolio-item{class: g.tags.map(&:uuid).join(' ')}
      = render partial: 'portfolio_item_stub', locals: {gist: g}
