.column-container
  .column-three-qtr
    = render :partial => 'post', locals: {post: @post, :preview => false}
    = render :partial => 'share_block'
    .divider
    .comments
    = render partial: 'disqus'
  .column-one-fourth.sidebar
    = render :partial => 'blog_sidebar'