%li#usermenu.usermenu.subnav
  %a.dropdown{"data-toggle" => "ul", href: "#"}
    %img.avatar{alt: "Avatar", src: "#"}
    %span.name UserName
  %ul.overlay{style: "display: none;"}
    %li.usermenu-profile
      = link_to 'Your Profile', main_app.user_profile_path(1)
    %li.divider
    %li.usermenu-signout
      = link_to 'Sign Out', main_app.destroy_user_session_path