pre code.hljs
  overflow: hidden

body 
  .reading-content
    p 
      font-size: 18px
      font-family: 'Noto Serif', serif
      line-height: 1.6em
    font-family: 'Noto Serif', serif
    font-size: 18px
    line-height: 1.6em
    color: #303030

    h1
      font-size: 25px
      font-family: 'Noto Serif', serif
      line-height: 1.4em
      font-weight: 600

    h2
      font-size: 21px
      font-family: 'Noto Serif', serif
      line-height: 1.6em
      font-weight: 600

    h3
      font-size: 19px
      font-family: 'Noto Serif', serif
      line-height: 1.3em
      font-weight: 600

    pre
      margin-bottom: 25px
      margin-top: 25px

    ul, ol
      list-style: disc
      margin: 18px
      padding-left: 40px

    blockquote
      margin: 18px 18px 18px 0px
      padding-left: 40px
      border-left: #edece4 0.6em solid
      font-style: italic

    img
      max-width: 100%

  .side-bar.follow-block
    margin-top: 46px 
    margin-left: 2px
    display: table
    li
      display: table-cell
      padding-right: 10px
      i
        color: #36a582 
        