pre code.hljs
  overflow: hidden

body .reading-content
  p 
    font-size: 18px
    font-family: 'Noto Serif', serif
    line-height: 1.6em
  font-family: 'Noto Serif', serif
  font-size: 18px
  line-height: 1.6em
