.footer-container
  .spacer
  .content-width
    .client-logos-container
      .client-logos-title
        %span Recent Clients
      #clients-back
      #clients-next
      .carousel
        %ul#clients-carousel.column-container
          %li
            .logo-outer
              .logo-inner.nzonscreen-logo
          %li
            .logo-outer
              .logo-inner.audioculture-logo
          %li
            .logo-outer
              .logo-inner.crackerjacks-logo
          %li
            .logo-outer
              .logo-inner.makingtracks-logo
  .footer-infobar
    .content-width
      If you're looking for software developers who can help you and your customers, you are in luck.
  .footer
    .content-width
      .column-container
        .column-one-fourth
          %img.logo{alt: "", height: "33", src: asset_path("logos/logo_white.png")}/
          %p If you want to talk about the development of your product?
          %a{href: contact_path} Contact Us
        .column-one-fourth
        .column-one-fourth
        .column-one-fourth
          %h3 Newsletter
          .footer-newsletter
            %form#newsletter{action: "#", method: "post", name: "newsletter"}
              .container
                %input.textbox{name: "name", placeholder: "Email Address", type: "text"}/
                %input#submit.button{name: "submit", type: "submit", value: "Sign Up"}/
          %h3 Follow Us
          %ul.footer-social
            %li
              %a{href: "http://www.linkedin.com/pub/graham-jenson/6/a93/b07"}
                %i.fa.fa-linkedin-square
                .tooltip LinkedIn
            %li
              %a{href: "https://twitter.com/grahamjenson"}
                %i.fa.fa-twitter
                .tooltip Twitter
      .footer-lower-container
        %ul.footer-lower
          %li
            %a{href: "index.html"} Home
          %li
            %a{href: "about.html"} About Us
          %li
            %a{href: "portfolio.html"} Portfolio
          %li
            %a{href: "blog.html"} Blog
          %li
            %a{href: "contact.html"} Contact Us
        .footer-copyright
          Copyright © 2013
          = succeed "." do
            %a{href: "http://www.artivity.co.uk", target: "_blank"} Artivity
      %a.top-of-page-link{href: "#"}
        %i.fa.fa-chevron-up
