.footer-container
  .footer
    .content-width
      .column-container
        .column-one-fourth
          %h3 Follow Us
          %ul.footer-social
            = render :partial => 'layouts/follow_block'
                
      .footer-lower-container
        %ul.footer-lower
          %li
            %a{href: blog_path} Blog
          %li
            %a{href: portfolio_path} Portfolio
        .footer-copyright
          Powered with the help of 
          %a{href: 'https://github.com/TryGhost/Ghost'} Ghost
          |
          Copyright © 2013
          %a{href: "http://www.artivity.co.uk", target: "_blank"} Artivity
      %a.top-of-page-link{href: "#"}
        %i.fa.fa-chevron-up
