.topbar-outer.dark
  .topbar.content-width
    .table.fullheight
      .table-cell.fullheight.middle
        .logo
          %a{href: root_path}
            %img{alt: "", height: "17", src: asset_path("logos/logo_white.png")}/
    %ul.topsocial
      %li
        %a{href: "http://www.linkedin.com/pub/graham-jenson/6/a93/b07"}
          %i.fa.fa-linkedin-square
          .tooltip LinkedIn
      %li
        %a{href: "https://twitter.com/grahamjenson"}
          %i.fa.fa-twitter
          .tooltip Twitter
      %li
        %a{href: "https://github.com/grahamjenson"}
          %i.fa.fa-github
          .tooltip Github
      %li
        %a{href: 'https://plus.google.com/105952473745800614264'}
          %i.fa.fa-google-plus-square 
          .tooltip Google+
      %li
        %a{href: blog_url(:format => :rss)}
          %i.fa.fa-rss
          .tooltip RSS

    %ul.topnav
      - tab = yield(:tab)
      %li
        %a{href: root_path, class: (tab == 'home' ? 'current' : '')} Home
      %li
        %a{href: about_path, class: (tab == 'about' ? 'current' : '')} About Us
      %li
        %a{href: portfolio_path, class: (tab == 'portfolio' ? 'current' : '')} Portfolio
      %li
        %a{href: blog_path, class: (tab == 'blog' ? 'current' : '')} Blog
      %li
        %a{href: contact_path, class: (tab == 'contact' ? 'current' : '')} Contact Us

    %a.mobilenav-click{href: "#"}
      .mobilenav-button-container
        .mobilenav-button-inner
          .mobilenav-button
    .mobilenav-container
      %ul.mobilenav