.topbar-outer.dark
  .topbar.content-width
    .table.fullheight
      .table-cell.fullheight.middle
        .logo
          %a{href: root_path}
            %img{alt: "", height: "17", src: asset_path("logos/logo_white.png")}/
    %ul.topsocial
      = render :partial => 'layouts/follow_block'

    %ul.topnav
      - tab = yield(:tab)
      %li
        %a{href: root_path, class: (tab == 'home' ? 'current' : '')} Home
      %li
        %a{href: about_path, class: (tab == 'about' ? 'current' : '')} About Us
      %li
        %a{href: portfolio_path, class: (tab == 'portfolio' ? 'current' : '')} Portfolio
      %li
        %a{href: blog_path, class: (tab == 'blog' ? 'current' : '')} Blog
      %li
        %a{href: contact_path, class: (tab == 'contact' ? 'current' : '')} Contact Us

    %a.mobilenav-click{href: "#"}
      .mobilenav-button-container
        .mobilenav-button-inner
          .mobilenav-button
    .mobilenav-container
      %ul.mobilenav